@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fondo: white;
  --letra: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fondo: black;
    --letra: white;
  }
}

body {
  color: var(--letra);
  background: var(--fondo);
}
